body {
    background-color: #F7F4F2;
}

#navbar,
.container {
    background-color: white;
}

.container {
    border-radius: 10px;
}

.queue h1 {
    font-size: 2.4em;
}

.queue h2 {
    font-size: 1.5em;
}